USE [qlst]
GO
/****** Object:  Table [dbo].[CT_HOADON]    Script Date: 5/13/2021 1:22:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CT_HOADON](
	[MAHD] [int] NOT NULL,
	[MASP] [varchar](10) NOT NULL,
	[DONGIA] [float] NOT NULL,
	[SOLUONG] [int] NOT NULL,
	[THANHTIEN] [float] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CT_NHAP]    Script Date: 5/13/2021 1:22:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CT_NHAP](
	[MANK] [int] NOT NULL,
	[MASP] [varchar](10) NOT NULL,
	[DONGIA] [float] NOT NULL,
	[SOLUONG] [int] NOT NULL,
	[THANHTIEN] [float] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HOADON]    Script Date: 5/13/2021 1:22:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOADON](
	[MAHD] [int] IDENTITY(1,1) NOT NULL,
	[NGAYLAP] [date] NOT NULL,
	[GIOLAP] [time](7) NOT NULL,
	[TONGTIEN] [float] NOT NULL,
	[CHIETKHAU] [float] NOT NULL,
	[THANHTOAN] [float] NOT NULL,
	[MAKM] [varchar](10) NOT NULL,
	[MANV] [varchar](10) NOT NULL,
	[MAKH] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MAHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KHACHHANG]    Script Date: 5/13/2021 1:22:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHACHHANG](
	[MAKH] [int] IDENTITY(1,1) NOT NULL,
	[TENKH] [nvarchar](50) NULL,
	[SDT] [varchar](10) NOT NULL,
	[DIEMTL] [int] NOT NULL,
	[TINHTRANG] [bit] NULL,
 CONSTRAINT [PK__KHACHHAN__603F592CF4DB7A71] PRIMARY KEY CLUSTERED 
(
	[MAKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KHUYENMAI]    Script Date: 5/13/2021 1:22:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHUYENMAI](
	[MAKM] [varchar](10) NOT NULL,
	[TENKM] [nvarchar](50) NULL,
	[NGAYBD] [date] NULL,
	[NGAYKT] [date] NULL,
	[GIAMGIA] [float] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MAKM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOAI]    Script Date: 5/13/2021 1:22:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOAI](
	[MALOAI] [varchar](10) NOT NULL,
	[TENLOAI] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MALOAI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NCC]    Script Date: 5/13/2021 1:22:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NCC](
	[MANCC] [int] IDENTITY(1,1) NOT NULL,
	[TENNCC] [nvarchar](50) NOT NULL,
	[DIACHI] [nvarchar](50) NULL,
	[SDT] [varchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MANCC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHANVIEN]    Script Date: 5/13/2021 1:22:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHANVIEN](
	[MANV] [varchar](10) NOT NULL,
	[TENNV] [nvarchar](50) NOT NULL,
	[NGAYSINH] [date] NULL,
	[DIACHI] [nvarchar](50) NULL,
	[SDT] [varchar](10) NOT NULL,
	[LUONG] [float] NOT NULL,
	[TINHTRANG] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[MANV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHAPKHO]    Script Date: 5/13/2021 1:22:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHAPKHO](
	[MANK] [int] IDENTITY(1,1) NOT NULL,
	[NGAYNHAP] [date] NOT NULL,
	[GIONHAP] [time](7) NOT NULL,
	[TONGGIA] [float] NOT NULL,
	[MANCC] [int] NOT NULL,
	[MANV] [varchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MANK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SANPHAM]    Script Date: 5/13/2021 1:22:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SANPHAM](
	[MASP] [varchar](10) NOT NULL,
	[TENSP] [nvarchar](50) NOT NULL,
	[GIABAN] [float] NOT NULL,
	[SOLUONG] [int] NOT NULL,
	[DVT] [nvarchar](20) NULL,
	[NSX] [nvarchar](50) NULL,
	[MALOAI] [varchar](10) NOT NULL,
	[TINHTRANG] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[MASP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TAIKHOAN]    Script Date: 5/13/2021 1:22:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TAIKHOAN](
	[ID] [int] IDENTITY(0,5) NOT NULL,
	[USERNAME] [varchar](10) NOT NULL,
	[PASS] [varchar](20) NOT NULL,
	[QUYEN] [nvarchar](50) NOT NULL,
	[ENABLE] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[CT_HOADON] ([MAHD], [MASP], [DONGIA], [SOLUONG], [THANHTIEN]) VALUES (8, N'SP0002', 25000, 2, 50000)
INSERT [dbo].[CT_HOADON] ([MAHD], [MASP], [DONGIA], [SOLUONG], [THANHTIEN]) VALUES (8, N'SP0029', 30000, 1, 30000)
INSERT [dbo].[CT_HOADON] ([MAHD], [MASP], [DONGIA], [SOLUONG], [THANHTIEN]) VALUES (8, N'SP0020', 10000, 2, 20000)
GO
INSERT [dbo].[CT_NHAP] ([MANK], [MASP], [DONGIA], [SOLUONG], [THANHTIEN]) VALUES (1, N'SP0004', 50000, 100, 5000000)
INSERT [dbo].[CT_NHAP] ([MANK], [MASP], [DONGIA], [SOLUONG], [THANHTIEN]) VALUES (1, N'SP0010', 6000, 150, 900000)
INSERT [dbo].[CT_NHAP] ([MANK], [MASP], [DONGIA], [SOLUONG], [THANHTIEN]) VALUES (1, N'SP0012', 1500, 200, 800000)
GO
SET IDENTITY_INSERT [dbo].[HOADON] ON 

INSERT [dbo].[HOADON] ([MAHD], [NGAYLAP], [GIOLAP], [TONGTIEN], [CHIETKHAU], [THANHTOAN], [MAKM], [MANV], [MAKH]) VALUES (8, CAST(N'2021-03-21' AS Date), CAST(N'09:12:33' AS Time), 100000, 0, 100000, N'K000', N'NV002', 3)
INSERT [dbo].[HOADON] ([MAHD], [NGAYLAP], [GIOLAP], [TONGTIEN], [CHIETKHAU], [THANHTOAN], [MAKM], [MANV], [MAKH]) VALUES (12, CAST(N'2021-03-22' AS Date), CAST(N'11:30:11' AS Time), 115000, 0, 115000, N'K000', N'NV003', 2)
INSERT [dbo].[HOADON] ([MAHD], [NGAYLAP], [GIOLAP], [TONGTIEN], [CHIETKHAU], [THANHTOAN], [MAKM], [MANV], [MAKH]) VALUES (13, CAST(N'2021-03-22' AS Date), CAST(N'14:07:53' AS Time), 52000, 0, 52000, N'K000', N'NV004', 4)
SET IDENTITY_INSERT [dbo].[HOADON] OFF
GO
SET IDENTITY_INSERT [dbo].[KHACHHANG] ON 

INSERT [dbo].[KHACHHANG] ([MAKH], [TENKH], [SDT], [DIEMTL], [TINHTRANG]) VALUES (0, N'Khách Lẻ', N'0935472917', 20, 1)
INSERT [dbo].[KHACHHANG] ([MAKH], [TENKH], [SDT], [DIEMTL], [TINHTRANG]) VALUES (2, N'Lê Nhật Anh', N'0962438275', 87, 1)
INSERT [dbo].[KHACHHANG] ([MAKH], [TENKH], [SDT], [DIEMTL], [TINHTRANG]) VALUES (3, N'Nguyễn Thảo Vy', N'0735721721', 56, 1)
SET IDENTITY_INSERT [dbo].[KHACHHANG] OFF
GO
INSERT [dbo].[KHUYENMAI] ([MAKM], [TENKM], [NGAYBD], [NGAYKT], [GIAMGIA]) VALUES (N'K000', N'Không có khuyến mãi', NULL, NULL, 0)
INSERT [dbo].[KHUYENMAI] ([MAKM], [TENKM], [NGAYBD], [NGAYKT], [GIAMGIA]) VALUES (N'KM001', N'giảm 20% hóa đơn từ 100K', CAST(N'2021-04-15' AS Date), CAST(N'2021-05-31' AS Date), 20)
INSERT [dbo].[KHUYENMAI] ([MAKM], [TENKM], [NGAYBD], [NGAYKT], [GIAMGIA]) VALUES (N'KM002', N'giảm 30% hóa đơn từ 200K', CAST(N'2021-05-01' AS Date), CAST(N'2021-06-30' AS Date), 30)
GO
INSERT [dbo].[LOAI] ([MALOAI], [TENLOAI]) VALUES (N'BEER', N'Thức Uống Có Cồn')
INSERT [dbo].[LOAI] ([MALOAI], [TENLOAI]) VALUES (N'DRINK', N'Nước Giải Khát')
INSERT [dbo].[LOAI] ([MALOAI], [TENLOAI]) VALUES (N'FASTFD', N'Mì, Cháo, Phở Gói')
GO
SET IDENTITY_INSERT [dbo].[NCC] ON 

INSERT [dbo].[NCC] ([MANCC], [TENNCC], [DIACHI], [SDT]) VALUES (1, N'ABC', N'123 An Dương Vương Q5', N'0937492383')
INSERT [dbo].[NCC] ([MANCC], [TENNCC], [DIACHI], [SDT]) VALUES (2, N'MNP', N'78 CMT8 Q3', N'0364384654')
INSERT [dbo].[NCC] ([MANCC], [TENNCC], [DIACHI], [SDT]) VALUES (3, N'XYZ', N'26 Nguyễn Thị Minh Khai Q1', N'0736256253')
SET IDENTITY_INSERT [dbo].[NCC] OFF
GO
INSERT [dbo].[NHANVIEN] ([MANV], [TENNV], [NGAYSINH], [DIACHI], [SDT], [LUONG], [TINHTRANG]) VALUES (N'NV001', N'Phạm Minh Anh', CAST(N'1999-09-12' AS Date), NULL, N'0923476522', 10000000, 1)
INSERT [dbo].[NHANVIEN] ([MANV], [TENNV], [NGAYSINH], [DIACHI], [SDT], [LUONG], [TINHTRANG]) VALUES (N'NV002', N'Nguyễn Bảo Ngọc', CAST(N'2000-07-14' AS Date), NULL, N'0723421843', 6000000, 1)
INSERT [dbo].[NHANVIEN] ([MANV], [TENNV], [NGAYSINH], [DIACHI], [SDT], [LUONG], [TINHTRANG]) VALUES (N'NV003', N'Lê Tuấn Anh', CAST(N'2000-03-20' AS Date), NULL, N'0927463824', 6000000, 1)
GO
SET IDENTITY_INSERT [dbo].[NHAPKHO] ON 

INSERT [dbo].[NHAPKHO] ([MANK], [NGAYNHAP], [GIONHAP], [TONGGIA], [MANCC], [MANV]) VALUES (1, CAST(N'2021-02-20' AS Date), CAST(N'08:20:33' AS Time), 8200000, 1, N'NV004')
INSERT [dbo].[NHAPKHO] ([MANK], [NGAYNHAP], [GIONHAP], [TONGGIA], [MANCC], [MANV]) VALUES (2, CAST(N'2021-03-15' AS Date), CAST(N'09:00:11' AS Time), 7650000, 2, N'NV003')
SET IDENTITY_INSERT [dbo].[NHAPKHO] OFF
GO
INSERT [dbo].[SANPHAM] ([MASP], [TENSP], [GIABAN], [SOLUONG], [DVT], [NSX], [MALOAI], [TINHTRANG]) VALUES (N'SP0001', N'Kẹo Play More
', 29000, 30, N'hũ 22g', N'7Eleven', N'SNACKS', 1)
INSERT [dbo].[SANPHAM] ([MASP], [TENSP], [GIABAN], [SOLUONG], [DVT], [NSX], [MALOAI], [TINHTRANG]) VALUES (N'SP0002', N'Kẹo socola hương bạc hà Dynamite
', 25000, 30, N'gói 330g', N'Dinamite', N'SNACKS', 1)
INSERT [dbo].[SANPHAM] ([MASP], [TENSP], [GIABAN], [SOLUONG], [DVT], [NSX], [MALOAI], [TINHTRANG]) VALUES (N'SP0003', N'Kẹo dẻo Zoo Jelly', 16000, 30, N'gói 200g', N'Bibica', N'SNACKS', 1)
GO
SET IDENTITY_INSERT [dbo].[TAIKHOAN] ON 

INSERT [dbo].[TAIKHOAN] ([ID], [USERNAME], [PASS], [QUYEN], [ENABLE]) VALUES (0, N'NV001', N'123456', N'AD', 1)
INSERT [dbo].[TAIKHOAN] ([ID], [USERNAME], [PASS], [QUYEN], [ENABLE]) VALUES (5, N'NV002', N'nv002', N'NV', 1)
INSERT [dbo].[TAIKHOAN] ([ID], [USERNAME], [PASS], [QUYEN], [ENABLE]) VALUES (10, N'NV003', N'nv003', N'NV', 1)
SET IDENTITY_INSERT [dbo].[TAIKHOAN] OFF
GO
ALTER TABLE [dbo].[CT_HOADON]  WITH CHECK ADD  CONSTRAINT [FK_CT_HOADON_HOADON] FOREIGN KEY([MAHD])
REFERENCES [dbo].[HOADON] ([MAHD])
GO
ALTER TABLE [dbo].[CT_HOADON] CHECK CONSTRAINT [FK_CT_HOADON_HOADON]
GO
ALTER TABLE [dbo].[CT_HOADON]  WITH CHECK ADD  CONSTRAINT [FK_CT_HOADON_SANPHAM1] FOREIGN KEY([MASP])
REFERENCES [dbo].[SANPHAM] ([MASP])
GO
ALTER TABLE [dbo].[CT_HOADON] CHECK CONSTRAINT [FK_CT_HOADON_SANPHAM1]
GO
ALTER TABLE [dbo].[CT_NHAP]  WITH CHECK ADD  CONSTRAINT [FK_CT_NHAP_SANPHAM] FOREIGN KEY([MASP])
REFERENCES [dbo].[SANPHAM] ([MASP])
GO
ALTER TABLE [dbo].[CT_NHAP] CHECK CONSTRAINT [FK_CT_NHAP_SANPHAM]
GO
ALTER TABLE [dbo].[CT_NHAP]  WITH CHECK ADD  CONSTRAINT [FK_CTN_NK] FOREIGN KEY([MANK])
REFERENCES [dbo].[NHAPKHO] ([MANK])
GO
ALTER TABLE [dbo].[CT_NHAP] CHECK CONSTRAINT [FK_CTN_NK]
GO
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD  CONSTRAINT [FK_HD_KM] FOREIGN KEY([MAKM])
REFERENCES [dbo].[KHUYENMAI] ([MAKM])
GO
ALTER TABLE [dbo].[HOADON] CHECK CONSTRAINT [FK_HD_KM]
GO
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD  CONSTRAINT [FK_HD_KH] FOREIGN KEY([MAKH])
REFERENCES [dbo].[KHACHHANG] ([MAKH])
GO
ALTER TABLE [dbo].[HOADON] CHECK CONSTRAINT [FK_HD_KH]
GO
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD  CONSTRAINT [FK_HD_NV] FOREIGN KEY([MANV])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[HOADON] CHECK CONSTRAINT [FK_HD_NV]
GO
ALTER TABLE [dbo].[NHAPKHO]  WITH CHECK ADD  CONSTRAINT [FK_NK_NCC] FOREIGN KEY([MANCC])
REFERENCES [dbo].[NCC] ([MANCC])
GO
ALTER TABLE [dbo].[NHAPKHO] CHECK CONSTRAINT [FK_NK_NCC]
GO
ALTER TABLE [dbo].[NHAPKHO]  WITH CHECK ADD  CONSTRAINT [FK_NK_NV] FOREIGN KEY([MANV])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[NHAPKHO] CHECK CONSTRAINT [FK_NK_NV]
GO
ALTER TABLE [dbo].[SANPHAM]  WITH CHECK ADD  CONSTRAINT [FK_SP_LOAI] FOREIGN KEY([MALOAI])
REFERENCES [dbo].[LOAI] ([MALOAI])
GO
ALTER TABLE [dbo].[SANPHAM] CHECK CONSTRAINT [FK_SP_LOAI]
GO
ALTER TABLE [dbo].[TAIKHOAN]  WITH CHECK ADD  CONSTRAINT [FK_TK_NV] FOREIGN KEY([USERNAME])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[TAIKHOAN] CHECK CONSTRAINT [FK_TK_NV]
GO
